body, p {
    font-family: monospace;
    font-weight: bold;
    background-color: brown;
    color: black;
}

p { 
  background-color: #a98d8d;
  padding: 10px;
  text-align: center;
  font-size: larger;
  margin: 1% 1% 1% 1%;
}    

#top {
  font-family: sans-serif;
  font-weight: bold;
  background-color: brown;
  color: white;
  padding: 10px;
  text-align: center;
}

#logo {
  background-color: black;
  color: black;
  padding: 10px;
  text-align: center;
  max-width: 20%;
  float: left;
}

#userInfoEntry {
  background-color: #a98d8d;
  padding: 10px;
  text-align: center;
  font-size: larger;
  margin: 1% 1% 1% 23%;
}    

#HarvardPlate {
    background-color:brown;
    float: left;
    margin: 3% 2% 2% 3%;
    width: 40%;
  }

  #HarvardCopyright {
    font-family: sans-serif;
    background-color: #a98d8d;
    padding: 10px;
    text-align: center;
    font-size: 0.6em;
}

#mealMenuCreation {
  background-color: brown;
  float: right;
  margin: 1% 1% 1% 2%;
  width: 50%;
  text-align: left;
}

#mealMenuCreation > h1 {
  text-align: center; 
}

#mealDaySelectors {
    background-color:#a98d8d;
    padding: 20px;
    text-align: center;
}

#buttons {
    background-color: #a98d8d;
    padding: 20px;
    text-align: center;
}

#currentMeal {
    background-color: #a98d8d;
    padding: 20px;
    text-align: center; 
}

.white {
    color: white;ß
}